<% @articles.each do |article| %>
  <div class="card-wrapper">
    <div class="card-img">
      <%= image_tag "tract_actu.jpg", class: "card-pic"%>
    </div>
    <div class="card-content">
      <div class="card-text">
        <div class="article-title">
          <h2><%= article.title.capitalize %></h2>
        </div>
        <div class="article-description">
          <%= article.description %>
        </div>
      </div>
      <div class="task-btns">
        <%= link_to "Modifier", edit_article_path(article[:id]) %>
        <%= link_to "Supprimer",
              article_path(article),
              method: :delete,
              data: { confirm: "Etes-vous sûr ?" } %>
      </div>
    </div>
  </div>
<% end %>
