<% @articles.each do |article| %>
  <div class="card-wrapper">
    <div class="card-img">
      <%= cl_image_tag article.image.key, class: "card-pic"%>
    </div>
    <div class="card-content">
      <div class="card-text">
        <div class="article-title">
          <h2><%= article.title.capitalize %></h2>
        </div>
        <div class="article-description">
          <%= article.description %>
        </div>
      </div>
      <div class="task-btns">
        <span>
          <%= link_to image_tag("editing.png"), edit_article_path(article[:id]) %>
        </span>
        <span>
          <%= link_to image_tag("delete.png"),
              article_path(article),
              method: :delete,
              data: { confirm: "Etes-vous sûr ?" } %>
        </span>
        <span>
          <%= image_tag "download-pdf" %>
        </span>
      </div>
    </div>
  </div>
<% end %>
